    {% extends 'base.html' %}
    {% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        
                        {% for blog in blog_list  %}  
                        <article class="blog">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src={{blog.image}} alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{blog.create_at|date:'d'}}</h3>
                                    <p>{{blog.create_at|date:'M'}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'blogs:blogdetail' blog.id %}">
                                    <h2>{{blog.title}}</h2>
                                </a>
                                <p>{{blog.description}}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> {{blog.category}}</a></li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        
                        <nav class="blog-pagination justify-content-center d-flex">
                            {% if is_paginated  %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{jobs.previous_page_number}}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {%endif%}
                                
                                {% for i in paginator.page_range %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endfor %}
                                
                                {% if page_obj.has_next %}   
                                <li class="page-item">
                                    <a href="?page={{page_obj.next_page_number}}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {%endif%}
                        </nav>
                        

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                
                                {% for i in blog_list %}     
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>{{i.category}}</p>
                                    </a>
                                </li>
                                <li>
                                {% endfor %}
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for i in blog_list  %}
                            <div class="media post_item">
                                <img src="{{i.image}}" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>{{i.title}}</h3>
                                    </a>
                                    <p>{{i.create_at|date:'d M o'}}</p>
                                </div>
                            </div>
                            {%endfor%}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    {% endblock body %}